@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Roboto&display=swap');

.caixaSobre {
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: antiquewhite;
  
}

.titulo {
  color: #464248 !important;
  text-align: center; 
}

.texto {
  text-align: justify;    
}