@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Roboto&display=swap');

.cursor{
    cursor: pointer;
    color: white;    
}

.text-decorator-none{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.appbar{
    background-color: white !important;
}

.toolbar {  
    background-color: #ff7b00;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    border-radius: 0 5px 5px 0 solid #ff7b00 !important;
}