.cursor{
    cursor: pointer;
    color: white;    
}

.text-decorator-none{
    text-decoration: none;
}

.appbar{
    background-color: white !important;
}

.toolbar {  
    background-image: url('https://images.unsplash.com/photo-1564415900645-30612d54dd0c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1473&q=80');
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    border-radius: 0 5px 5px 0 solid #ff7b00 !important;
}