@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Roboto&display=swap');

.textos1 {
    font-weight: bold !important;
    font-family: 'Roboto', sans-serif;
}

.imagem {
    background-image: url(/src/assets/imagens/laranjeira_fundo.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.text-decorator-none {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}