@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Roboto&display=swap');

.imgFooter {
    width: 18em !important;
    margin-top: 1em;
    border-radius: 2em;
    height: 18em;
}

.redes {
    font-size: 60px !important;
    color: white;
}

.textos {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2em !important;
    margin-right: 1em !important;
}

.caixaFooter {
    background-color: #FF7B00;
    background-repeat: no-repeat;
    background-size: 100%;    
}

.footer2 {
    width: 7.5em;
    padding: 30px auto;    
}

.grid {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.copyright {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    text-decoration: none;
}