@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Roboto&display=swap');

.caixa {
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0px !important;
    margin: 0px !important;
  
}

.titulo {
    font-weight: bold !important;
    font-family: 'Roboto', sans-serif;
    font-size: 3em !important;
}

.titulo2 {
    color: #464248;
    font-weight: bold !important;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em !important;
    padding-top: 1em;
  
}

.botao {
    border-color: white !important;
    background-color: #3F51B5;
    color: white !important;
}

.produtos {
    background-image: url(/src/assets/imagens/laranjeira_fundo.jpg);
}
.caixaTexto{
    width: 50.5em;
    text-shadow:1px 1px 2px #ebcb8b;
   padding: 7.5em !important;
}
