@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Roboto&display=swap');

.gridPlano {
    background-color: antiquewhite;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;          
}

.tituloAssinatura {    
    font-family: 'Roboto', sans-serif;
    background-color: #EBCB8B;
    color: white;    
}

.cards {    
    display: flex;    
    background-size: 100%;
    flex-direction: row;
    width: 1000px;    
    padding: 1em;
}

.card {
    background-color: aqua;
    margin: 1em;
}