@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Roboto&display=swap');

.gridPlano {
    background-color: antiquewhite;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;          
}

.tituloAssinatura {
    font-size: 2em !important;
    font-family: 'Roboto', sans-serif;
    margin-left: 1em !important;    
}

.cards {    
    display: flex;
    justify-content: space-between;
    background-size: 100%;
    flex-direction: row;
    width: 1000px;
}